.btn-primary {
  background-color: #ef5261;
  border-color:  #ef5261;
  transition: background 0.3s ease;

}

.btn-primary:hover {
  background-color: #3b5059;
  border-color: #3b5059;
}

.btn-warning {
  transition: background 0.3s ease;

}
